body {
  background-color: #67daff;
  color: rgba(0, 0, 0, 0.87);
  font-family: 'Dosis', sans-serif;
  text-align: center;
}

button {
  background-color: #ba000d;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  display: block;
  font: 14px 'Dosis', sans-serif;
  height: 36px;
  margin: 7.5px auto;
  line-height: 36px;
  padding: 1px 16px;
}

.checkbox-label, .radio-label {
  margin: 0;
  text-align: left;
  width: 170px;
}

input {
  font-family: 'Dosis', sans-serif;
  text-align: left;
}

input[type=text], input[type=email], input[type=number] {
  width: 145px;
}

label {
  display: inline-block;
  margin: 7.5px 1%;
  width: 48%;
  text-align: right;
}

li {
  width: 200px;
}

main {
  background-color: white;
  font-size: 16px;
  margin: auto;
  max-width: 1000px;
  padding: 25px;
  text-align: left;
  width: 80%;
}

p {
  font-size: 20px;
  text-align: center;
}

.required:before {
  content: "* ";
}

select, textarea {
  margin: 7.5px 0;
  font-family: 'Dosis', sans-serif;
  vertical-align: top;
}

ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  vertical-align: top;
}

@media (max-width: 550px) {
  label, textarea {
    text-align: left;
    width: 98%;
  }
}
